{% extends "base.html" %}

{% block title %}Xasify - Sales{% endblock %}
    
{% block content %}
<h1 id="view_title">
    Latest sales 
</h1>
<p id="view_subtitle">
    <a href="{% url 'add_sell' %}">Add new sale</a>
</p>
{% if sales %}
<table id="sales_register">
    <tr>
        <th>
            Product
        </th>
        <th>
            Cost
        </th>
        <th>
            Price
        </th>
    </tr>
    {% for sale in sales|slice:":10" %}
    <tr>
        <td>{{ sale.product.name }}</td>
        <td>${{ sale.product.cost }}</td>
        <td>${{ sale.product.price }}</td>
    </tr>

    {% endfor %}
</table>
{% else %}
<p id="no_response">
    No sales yet.
</p>
{% endif %}
{% endblock %}