{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p id="loginAlert">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p id="loginAlert">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p id="loginAlert">Please login to see this page.</p>
    {% endif %}
{% endif %}
<div id="formContainer">
  <form method="post" action="{% url 'login' %}" id="loginForm">
  {% csrf_token %}

  <div id="usernameForm">
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </div>
  <div id="passwordForm">
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </div>

  <div id="loginButtons">
    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  </form>
</div>

<!-- {# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

{% endblock %}